@model IEnumerable<OnlineShop.Models.ProductTypes>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">
            Product Type List
        </h2>
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> New Product Type</a>
    </div>
</div>
<br />

<div>
    <table class="table table-bordered table-striped">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c => c.ProductType)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductType
                </td>

                <partial name="_ButtonPartial" model="item.Id" />


            </tr>
        }

    </table>
</div>
@section Scripts{
    <script type="text/javascript">
    $(function() {
        var save = '@TempData["save"]';
        var edit = '@TempData["Edit"]';
        var error='@TempData["Delete"]';
        if (save != '') {
            alertify.success(save);
        } else if (edit != '') {
            alertify.success(edit);

        } else if (error != '') {
            alertify.error(error);
        } 
    } )
    </script>
}

