@model IEnumerable<OnlineShop.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">
            User  List
        </h2>
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> New User</a>
    </div>
</div>
<br />
<div>
    <table class="table table-bordered table-striped" id="myTable">
        <thead>
            <tr class="table-info">
                <th>
                    Name
                </th>

                <th>
                    User Name
                </th>

                <th>
                    Action
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.FirstName @item.LastName
                </td>
                <td>
                    @item.UserName
                </td>

                @if (item.LockoutEnd != null && item.LockoutEnd > DateTime.Now)
                {
                    <td class="text-danger">Inactive</td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Active" class="btn btn-warning" asp-route-id="@item.Id"><i class="fas fa-lock-open"></i></a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>

                        </div>
                    </td>
                    
                }
                else
                {
                    <td class="text-success">Active</td>
                    <td style="width:150px">
                        <partial name="_PartialView" model="item.Id" />
                    </td>
                }

            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script type="text/javascript">

        $(function () {
            var save = '@TempData["save"]';
            var edit = '@TempData["Edit"]';
            var remove = '@TempData["Delete"]';
           
            
            if (save != '') {
                alertify.success(save);
            } else if (edit != '') {
                alertify.success(edit);

            } else if (remove != '') {
                alertify.error(remove);
            } 
            
        });
    </script>
}

